cboto==2.40.0
bz2file==0.98
cycler==0.9.0
deap<1.0.3
decorator==4.0.6
descartes==1.0.1
Flask==0.10.1
Flask-SocketIO==2.0
gensim==0.12.4
greenlet==0.4.9
h5py>=2.6.0
itsdangerous==0.24
Jinja2==2.8
Keras==1.0.3
MarkupSafe==0.23
matplotlib==1.5.1
neo4j-driver==1.0.2
neo4jrestclient==2.1.1
networkx==1.11
neurolab==0.3.5
numpy>=1.11.0
Pillow==3.1.0
#pycuda==2016.1.1
pyparsing==2.0.7
python-dateutil==2.4.2
python-engineio==0.8.6
python-socketio==1.0
pytz==2015.7
PyYAML==3.11
pyzmq==15.1.0
requests==2.10.0
scikit-learn==0.17.1
scipy>=0.17.1
Shapely>=1.5.16
six==1.10.0
smart-open==1.3.3
Theano==0.8.2
Werkzeug==0.11.2
pyHarmonySearch==1.3.3
pyswarm>=0.6
grpcio>=1.0.0
protobuf>=3.0.0
